/JavaFXApplication2/nbproject/private/
/JavaFXApplication2/build/
/JavaFXApplication2/dist/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/JavaApplication3/dist/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/PalpiteMegaSena/nbproject/private/
/PalpiteMegaSena/build/
/HorasoSistemaSwing/nbproject/private/
/HorasoSistemaSwing/build/
/Lista_de_Tarefas/nbproject/private/
/Lista_de_Tarefas/build/
/Principal/nbproject/private/
/Tarefas/nbproject/private/
/Tarefas/build/
/Testes/nbproject/private/
/Testes/build/
/Teste_Idade_Votacao_com_If_Else/nbproject/private/
/Teste_Idade_Votacao_com_If_Else/build/
/Teste_Pernas/nbproject/private/
/Teste_Pernas/build/
/Contador_cleu/nbproject/private/
/Estrutura_While/nbproject/private/
/Estrutura_While/build/
/Estrutura_DO_While/nbproject/private/
/Estrutura_DO_While/build/
/Calcular_Idade_Swing/nbproject/private/
/Calcular_Idade_Swing/build/
/Calculadora_Swing/nbproject/private/
/Calculadora_Swing/build/
/Genio_Swing/nbproject/private/
/Genio_Swing/build/
/Pernas_Swing/nbproject/private/
/Pernas_Swing/build/
/Equaçao_segundo_Grau_swing/nbproject/private/
/Equaçao_segundo_Grau_swing/build/
/Tabuala_swing/nbproject/private/
/Tabuala_swing/build/
/Exercicio Repita/nbproject/private/
/Exercicio Repita/build/
/Contador_Com_Slider/nbproject/private/
/Contador_Com_Slider/build/
/Vetor_Swing/nbproject/private/
/Vetor_Swing/build/
/JavaApplication28/nbproject/private/
/Joqgo_da_Veia_Swing/nbproject/private/
/Joqgo_da_Veia_Swing/build/
/Joqgo_da_Veia_Swing/dist/
/Fatorial_Swing/nbproject/private/
/Fatorial_Swing/build/
/Fatorial_com_Funcao_Swing/nbproject/private/
/Fatorial_com_Funcao_Swing/build/