body{
    background-color: lightblue;
}
div#principal{
    margin-left: 40%;
    margin-top: 5%;
    width: 20%;
    background-color: grey;
    text-align: center;
    border-radius: 10px;
    border-color: black;
    box-shadow: 5px 5px 10px black;
    text-align: center;
}

