body{
    background-color: lightblue;
}
div#tela {
    width: 30%;
    height: 20%;
    background-color: grey;
    border-radius: 10px;
    border-color: black;
    margin-left: 30%;
    box-shadow: 5px 5px 10px black;
    text-align: center;
    margin-top: 5%;
}

